<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body class="landing">
    <nav>
    <div id="homepage">
        <a href="/">Homepage</a>
    </div>
    <div id="favorites">
            <img src="https://i.imgur.com/h6EHJ1n.png" class="fave">
            <a href="/favorites">Favorites</a>
    </div>
    <div id="login" id="logout">
        <% if (user) { %>
            <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google">Login with Google</a>
          <% } %>
    </div>
</nav>
