<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <a href="/">Homepage</a>
    <div>
        <a href ="/favorites">Favorites</a>
    </div>
    <div>
        <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
    </div>
