<%- include('partials/header') %>
<h3>FAVORITES</h3>
<section>
<h5>Favorite Studios</h5>
<div></div>
<h5>Favorite Classes</h5>
<div></div>
<h5>Favorite Teachers</h5>
<div></div>
</section>
<%- include('partials/footer') %>