<%- include('partials/header') %>
<h1>Welcome to <br>My <span class="loud">Favorite</span> Dance App</h1>
<h2 class="intro_subheading">The best place place to browse and store your favorite swing dance studios, classes, and
    teachers.</h2>

<div class="main-browse"><a href="/studios/">BROWSE BY STUDIO</a></div>
<br>
<br>
<div class="main-browse"><a href="/classes">BROWSE BY CLASS</a></div>
<br>
<br>
<%- include('partials/footer') %>