body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

nav a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: #44395a;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.intro_subheading {
  text-align: center;
  color: white;
  padding: .8em;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

h3,
.main-browse {
  background: rgba(212, 148, 231, 0.5);
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.loud {
  color: rgb(231, 74, 100);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.main-browse a {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.fave {
  max-width: 20px;
  display: inline-flex;
}

div img {
  max-width: 200px;
}

/* section {
  grid-template-columns: 1fr 1fr;
  display: grid;
} */

.btn {
  border: none;
  background-color: transparent;
}

form {
  display: inline;
}
